aiohttp==3.9.0
Pyrofork==2.3.67
beautifulsoup4==4.8.2
requests==2.32.4
Pillow==9.5.0
tgcrypto
sqlmodel==0.0.6
asyncpg
psycopg2-binary
aiosqlite
fpdf2==2.6.0
SQLAlchemy>=1.4
psutil==5.9.0
alembic
loguru
flask
gunicorn
cloudscraper
